#ul1{
    list-style-type: circle;
    list-style-position: outside;
    width: 100px;
}
#ul2{
    list-style-type: circle;
    list-style-position: inside;
    width:100;
}
#ul3{
    list-style-image:url(idea.png)
    list-style-position: 
         
}
#ol1{
    list-style-type: none;
}
#ol2{
    list-style-type: none;
    margin:0;
    padding:0;
}
#o3{
    list-style: inside upper-roman;
    width:100px;
}
#ul4 li{
    background: cadetblue;
    padding: 30px;

}
#ol5 li:hover{
    background-color: black;
    padding: 10px;
color: rgb(240, 255, 205);
}