#p11{
    border:1px double red;
    width:100%;
    height: auto;
}
#p1{
    border: 5px double red;
    max-width: 1000;
    min-width: 700;
    height: 100px;
}
#p1{
    border: 5px double red;
    max-width: 500;
    min-height: 200px;
    width:100px;
    overflow: auto;
}