#divk{
    height:700px;
    width: 500px;
    border: 5px dotted aqua;
    padding: 20px;
}
#h1{
    font-size: 40px;
}
#p1,#p2{
    display: inline;

}
span{
    font-size: 30px;
    color: aqua;

}
#h2{
    color:solid black
}
#p1{
    letter-spacing: 2px;
    font-variant:small-caps

}
#input1{
    
}
    





    
    